#InicioRegisterView {
  height: 400px;
  width: 200px;
  margin-left: 60px;
}

#LoginRegisterView {
  height: 400px;
  width: 200px;
  margin-left: 60px;
}

#Register {
  height: 400px;
  width: 200px;
  margin-left: 60px;
}

#InicioOptiView {
  height: 400px;
  width: 200px;
  margin-left: 60px;
}

#Opciones {
  height: 400px;
  width: 200px;
  margin-left: 60px;
}

#InicioEditView {
  height: 400px;
  width: 200px;
  margin-left: 60px;
}

#MenuDesplegadoEditView {
  height: 400px;
  width: 200px;
  margin-left: 60px;
}

#EditUser {
  height: 400px;
  width: 200px;
  margin-left: 60px;
}

#InicioBrandView {
  height: 400px;
  width: 200px;
  margin-left: 60px;
}

#CarsBrand {
  height: 400px;
  width: 200px;
  margin-left: 60px;
}

#InicioModelView {
  height: 400px;
  width: 200px;
  margin-left: 60px;
}

#BrandModelView {
  height: 400px;
  width: 200px;
  margin-left: 60px;
}

#Model {
  height: 400px;
  width: 200px;
  margin-left: 60px;
}

